#wrapper{
    margin: 30px auto;
    max-width: 940px;
}

.all_box{
    background-color: antiquewhite;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.calendar_select{
    background-color: antiquewhite;
    color: lightpink;
    border: 1px solid #bfc222;
    border-radius: 3px;
    padding: 10px 1em;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
}

.button_box{
    cursor: pointer;
    display: inline-block;
    background-color: cornflowerblue;
    color: darkgoldenrod;
    border: 1px solid #000ffd;
    border-radius: 4px;
    padding: 5px 10px;
}

.week{
    text-align: center;
    height: 60px;
    font-size: 30px;
}
.day{
    text-align: center;
    height: 90px;
    font-size: 30px;
}
.table_box{
    border-collapse: collapse;
    width: 100%;
}
.week :first-child{
    color: red;
}
.week :last-child{
    color: blue;
}

/*.day :first-child{
    color: red;
}
.day :last-child{
    color: blue;
}

/*カレンダー内の付箋*/

/*.textarea{
    width: 250px;
    height: 7em;
    font: size 100%;
    box-shadow: 3px 3px 3px 3px #555;
}
.save_clear_btn{
    margin-top: 0ex;
}*/

li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;
    cursor: pointer;
    font-size: 20px;
}
li:hover{
    background: #0066CC;
    color:#fff;
}


/*下の付箋テスト*/
#sticky-note-container {
  height: 400px;
}
.note {
  background-color: aliceblue;
  padding: 10px;
  cursor: pointer;
}
.note > input[type="text"] {
  width: 90%;
  height: 5rem;
}
